@import "../../assets/scss/base";
.component-layout.common-title {
    .pd-span{
        padding: 0 6px;
    }
    .inline-block{
        line-height: 24px;
    }
    .mg-long{
        margin-left: 10%;
    }
}